server/ASP.NETCore/.vs
server/ASP.NETCore/src/FoodAPICore/bin
server/ASP.NETCore/src/FoodAPICore/appsettings.production.json
server/ASP.NETCore/src/FoodAPICore/Properties/PublishProfiles/
/client/.dist

/client/src/app/**/*.js
/client/src/app/**/*.js.map
/server/ASP.NETCore/src/FoodAPICore/obj
/server/ASP.NETCore/src/*.log
/server/ASP.NETCore/FoodAPICore/obj/
/server/ASP.NETCore/FoodAPICore/bin/
/server/ASP.NETCore/FoodAPICore/Properties/PublishProfiles
/server/ASP.NETCore/src/FoodAPICore/.vscode/launch.json
